/* custom class */
/* header */
/* content */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
img {
  display: block;
}
p {
  color: #7e7e7e;
  line-height: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
}
.container {
  display: block;
  width: 1170px;
  margin: 0 auto;
}
.container.full-width {
  width: 100%;
}
.button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 30px;
  background-color: #fff;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
.button.bordered {
  border: 1px solid #000;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  margin: 0 -10px;
}
.col-6 {
  float: left;
  padding: 0 30px;
  width: 50%;
}
.col-4 {
  float: left;
  padding: 0 10px;
  width: 33.333333%;
}
#logo {
  float: left;
}
#nav {
  float: right;
  text-transform: uppercase;
  line-height: 100px;
}
#nav li {
  float: left;
  list-style-type: none;
}
#nav a {
  padding: 0 12px;
  color: #333;
  text-decoration: none;
  font-size: 13px;
}
#nav .active a {
  color: #d6ca8b;
}
#nav .boundary:after {
  content: "|";
  padding: 0 12px;
}
#content > div {
  padding-top: 100px;
}
#content > div:first-child {
  padding-top: 0;
}
#content > hr {
  border-top: 1px solid #eee;
  margin: 0;
}
#content h3.title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2fpx;
  margin: 0;
}
#content div.header {
  padding: 200px 0;
  background-image: url(https://picsum.photos/1920/1080);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#content div.header .title {
  float: left;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 2px;
}
#content div.header #breadcrumbs {
  float: right;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
#content div.header #breadcrumbs li {
  float: left;
  margin: 0 5px;
  text-transform: uppercase;
  color: white;
}
#content div.header #breadcrumbs a {
  color: #7e7e7e;
  text-decoration: none;
}
#content .progress-bar {
  margin-top: 50px;
  width: 100%;
  background-color: #eae8e8;
}
#content .progress-bar > div {
  display: inline-block;
}
#content .progress-bar .progress {
  padding-left: 10px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
}
#content .progress-bar .pin {
  position: relative;
  top: -30px;
  left: -30px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 3px 8px;
  border-radius: 14px;
}
#content .progress-bar .pin:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: rgba(0, 0, 0, 0.6);
  border-width: 3px;
  margin-left: -3px;
}
#content .feature {
  background: url(https://picsum.photos/1920/1080);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  color: #fff;
}
#content .feature i {
  color: #d6b161;
}
#content .feature .title {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
}
#content .feature p {
  text-align: center;
  color: #fff;
}
#content .team-member {
  margin-bottom: 100px;
}
#content .team-member h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  color: #333;
}
#content .team-member p {
  padding: 0;
  margin-top: 0;
  text-align: center;
  color: #7e7e7e;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#content .team-member .title {
  margin: 25px 0;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 24px;
}
#content .team-member .subtitle {
  text-align: center;
  margin-bottom: 0;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}
#content .team-member .thumbnail {
  position: relative;
}
#content .team-member .thumbnail img {
  width: 100%;
  height: auto;
}
#content .team-member .thumbnail .cover {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border: 20px solid rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}
#content .team-member .thumbnail .cover:hover {
  opacity: 1;
}
#content .team-member .thumbnail .cover .social-media {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#content .team-member .thumbnail .cover .social-media ul {
  display: inline-block;
}
#content .team-member .thumbnail .cover .social-media li {
  float: left;
  margin: 0 10px;
}
#content .team-member .thumbnail .cover .social-media a {
  color: #333;
  text-decoration: none;
  top: 45%;
}
#content .team-member .name {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#content .team-member .post {
  color: #a5a5a5;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
}
#content .gray-bg {
  background-color: #f5f5f5;
  padding: 100px 0;
  text-align: center;
}
#content .gray-bg .col-3 {
  float: left;
  padding: 0 30px;
  width: 25%;
}
#content .gray-bg .count {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: normal;
}
#content .gray-bg h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  color: #323232;
}
.category {
  position: relative;
  margin-bottom: 20px;
}
.category img {
  width: 100%;
  height: auto;
}
.category .title {
  position: absolute;
  top: 35%;
  right: 10%;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
}
.category .title.dark {
  color: #323232;
}
.category .title.light {
  color: #ffffff;
}
.products li {
  float: left;
}
.products h3 {
  margin: 0;
}
.products .info {
  padding: 15px 0;
  text-align: center;
}
.product .title a {
  color: #222;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}
.event {
  padding: 150px 0;
  background-image: url(https://picsum.photos/1920/1080);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.event .title {
  margin: 0;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 70px;
  font-weight: 100;
}
.event .subtitle {
  margin: 0;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 18px;
  font-weight: normal;
}
.featured {
  padding-bottom: 100px;
}
.featured img {
  width: 100%;
  height: auto;
}
.featured .info {
  margin-top: 70px;
  text-align: center;
}
.featured .info .title {
  text-transform: uppercase;
  color: #d6b161;
}
.featured .info .name {
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.featured .info .price {
  color: #d6b161;
  font-size: 26px;
  font-weight: 100;
}
.featured .info p {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 30px;
}
.featured .col-6 {
  padding: 0 30px;
}
.outlets {
  padding-bottom: 100px;
}
.outlet h3 {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.outlet .info {
  color: #7e7e7e;
  line-height: 30px;
}
.outlet .info a {
  color: #7e7e7e;
  text-decoration: none;
}
.outlet .map a {
  color: #d6b161;
  text-decoration: none;
  text-transform: uppercase;
}
/* footer */
#footer {
  position: relative;
  background-color: #f5f5f5;
  padding: 80px 0;
}
#footer .logo {
  position: absolute;
  border: 5px solid #f5f5f5;
  padding: 20px;
  background-color: #fff;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
#footer .copyright {
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#footer .copyright .subtitle {
  font-size: 12px;
  color: #323232;
}
#footer .social-media {
  float: right;
}
#footer .social-media li {
  float: left;
}
#footer .social-media a {
  display: inline-block;
  margin: 10px;
  border: 1px solid #222;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #222;
  line-height: 40px;
  text-align: center;
}
#go-top {
  position: fixed;
  right: 20px;
  bottom: 35px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}
